@charset "UTF-8";

* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Importa a fonte Chakra Petch do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");


@font-face {
  font-family: 'Games'; Helvetica, sans-serif; 
  src: url('fontes/Games.otf') format('opentype');
  src: url('fontes/Games-Italic.ttf') format('truetype');
}
@font-face {
font-family: '2p';
src:url(fontes/PressStart2P-Regular.ttf) format('truetype');
}

/* Estiliza o corpo da página */
body {
  font-family: "Chakra Petch", sans-serif;  /* Define a fonte padrão */
  background-image: url(imagens/imagem2.JPG);
  background-size: cover;
  background-position: bottom;
  display: grid;  /* Usa Flexbox para layout */
  place-items: center;
  height: 100vh;  /* Preenche a altura total da viewport */
}

/* Estiliza os títulos h1 */
h1 {
  font-family: 'Games', Helvetica, sans-serif;  /*Fonte externa*/
  font-size: 3.5rem;  /* Tamanho da fonte */
  color: rgb(0, 255, 0);; /* Cor do texto */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  text-align: center; /* Alinha o texto ao centro */
  letter-spacing: 0.5rem; /* Espaçamento entre letras */
  margin-top: 15px;
 animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Estiliza as seções da página */
section {
  display: flex;  /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center;  /* Centraliza os itens horizontalmente */
  margin-bottom: 4rem; /* Espaçamento abaixo de cada seção */
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
}

/* Estiliza os inputs dentro das seções */
section input {
  padding: 1rem;
  width: 30rem;
  border-bottom: 1px 2px green;
  border-radius:5rem;
  margin-bottom:1rem;
  color:#000000;
  font-size:1rem;
  box-sizing:border-box;
  background-color: rgba(106, 120, 107, 0.273);
}


/* Estiliza os botões dentro das seções */
section button {
padding: 20px 40px;
margin-top: 20px;
font-family: '2p', Helvetica, sans-serif;
font-size: 1.2rem; /* Tamanho da fonte */
color: white; /* Cor do texto do botão */
background-color: #00cc00; /* Cor de fundo do botão */
border: none;  /* Remove a borda padrão */
border-radius: 15px;
cursor: pointer; /* Muda o cursor para indicar que é clicável */
animation: expand 1s infinite alternate;
text-shadow: 2px 2px 4px #000000;
}

@keyframes expand {
  100% {
    transform: scale(1.1);
  }
}
/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
  background-color: #009900;  /* Muda a cor de fundo ao passar o mouse */
}

/* Estiliza a caixa de resultados da pesquisa */
*.resultados-pesquisa {
  padding: 19px;  /* Espaçamento interno */
  border-radius: 1.rem;
  color: #ffffff;
  width: 70rem; /* Largura máxima da caixa de resultados */
  height: 50vh;  /* Altura máxima da caixa de resultados */
  overflow-y: auto;  /* Adiciona rolagem vertical se necessário */
  margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
  border-radius: 1.2rem; /* Borda arredondada */ 
  
}

/* Estiliza cada item de resultado */
.item-resultado {
  background-color: #28a745;
  border-radius: 25px; /* Borda arredondada */
  padding: 1rem; /* Espaçamento interno */
  margin-bottom: 1rem; 
  box-shadow: 1 1px 4px rgba(1, 1, 1, 0.219);  /* Sombra leve */
  width: 400px;
  text-align: center;
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
  font-size: 2rem; /* Tamanho da fonte */
  color: #fff; /* Cor do texto */
  text-align: center;
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
  font-size: 1rem;
  text-decoration: none;  /* Remove o sublinhado padrão dos links */
  color: #ffffff; /* Cor do texto dos links */
  letter-spacing: 3px;
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
  text-decoration: underline;  /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
  color: rgb(0, 0, 0);   /* Cor do texto */
  margin: 0.5rem 0;  /* Margem acima e abaixo */
}

/* Estiliza o rodapé da página */
footer {
  background-color: rgba(0, 0, 0, 0.6); /* Cor de fundo do rodapé */
  color: white;  /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
  font-size: 0.9em;
  position: fixed;  /* Posiciona o rodapé */
  width: 100%; /* Largura total da página */
  bottom: 0;
  left: 0;  /* Alinha ao fundo da página */
  text-align: center; /* Alinha o texto ao centro */
}

footer p {
  margin: 5px 0;
}

/* Estilos para celulares pequenos */
@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  section {
    margin-bottom: 2rem;
  }
  section input, section button {
    width: 100%;
  }
  .resultados-pesquisa {
    width: 100%;
  }
}

/* Estilos para celulares e tablets */
@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  section {
    margin-bottom: 2rem;
  }
  section input, section button {
    width: 100%;
  }
  .resultados-pesquisa {
    width: 100%;
  }
}

/* Estilos para tablets e pequenos laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
  section {
    margin-bottom: 3rem;
  }
  section input, section button {
    width: 80%;
  }
  .resultados-pesquisa {
    width: 80%;
  }
}

/* Estilos para telas maiores e TVs */
@media (min-width: 1025px) {
  h1 {
    font-size: 7.5rem;
  }
  section {
    margin-bottom: 4rem;
  }
  section input, section button {
    width: 30rem;
  }
  .resultados-pesquisa {
    width: 60rem;
  }
}